{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center;">
    <h1>About This Site</h1>
    <p>This project served as an educational effort to hone skills for and learn about the following technologies:<p>
    <ul>
      <li>Flask and its several extensions</li>
      <li>Web API's and how to fetch them(requests)</li>
      <li>Handling JSON data(Riot's data api)</li>
      <li>MVC/ORM & Databases(SQLAlchemy)</li>
      <li>HTML/CSS</li>
      <li>Hosting beyond development using waitress & heroku</li>
    </ul>
    <p>Plans for the future include integrating javascript and representing more complex data with visuals</p>
  </div>
{% endblock %}