<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/test.css') }}">
    {% if title %}
      {% block title %}<title>{{ title }}</title>{% endblock %} 
    {% else %}
      <title>Welcome to OGPP! The LoL Old Games & Player Profiles Database!</title>
    {% endif %}
  </head>

  <body>

    {% include 'page_top/base_page_top.html' %}

    {% block content %}{% endblock %}


    <!--allow submit button to toggle with enter key-->
    <script>
      var input = document.getElementByClassName("submit-button");
      input.addEventListener("keyup", function(event)
      {
          if (event.keyCode === 13)
          {
            event.preventDefault();
            document.getElementByClassName("submit-button").click()
          }
      });
      
    </script>

  </body>
</html>