<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/test.css') }}">
</head>
<body>
<div class="main-container">
  <div class="side-content">
    <div class="refresh-button">
      <a href="{{ url_for('refresh', summoner_name=summoner.name) }}">Update Info</a>
    </div>
    <div class="icon">
      <img src="{{ url_for('static', filename='img/profileicon/'+summoner.profile_icon+'.png') }}" 
        height="75" width="75">
    </div>
    <div class="name-and-level">
      <p class="player">{{ summoner.name }}</p>
      <p class="level">Level: {{ summoner.level }}</p>
    </div>
    <div class="ranking-icon">
      <p>Ranking Icon</p>
    </div>
    <p>Overview of characters played</p>
    <div class="per-champion-info">
      <div class="champion-portrait">
        <p>Image 1</p>
      </div>
      <div class="numerical-statistics">
        <p>KDA</p>
      </div>
    </div>
    <div class="per-champion-info">
      <div class="champion-portrait">
        <p>Image 2</p>
      </div>
      <div class="numerical-statistics">
        <p>KDA</p>
      </div>
    </div>
    <div class="per-champion-info">
      <div class="champion-portrait">
        <p>Image 3</p>
      </div>
      <div class="numerical-statistics">
        <p>KDA</p>
      </div>
    </div> 
  </div>

  <div class="main-content">
    <h1 style="position: relative; bottom: 35px;">Match History of {{ summoner.name }}</h1>
    {% for match in matches %}

      <div class="match-box">
        <div class="blueteam-container">
          {% for player in match.blue_side %}
            {% include '_blue_player_table_entry.html' %} 
          {% endfor %}
        </div>
        <div class="redteam-container">
          {% for player in match.red_side %}
            {% include '_red_player_table_entry.html' %}
          {% endfor %}
        </div>
      </div>
      
    {% endfor %}
    {% include '_paginate_urls.html' %}
  </div>
</div>
</body>
</html>